@charset "utf-8";

body {
	font-family: Arial, sans-serif;
}

h1, h2, h3, p, a{
	color: #C59D5F;
}

h2 {
	font-size: medium;
}

a {
	text-decoration: none;
}

fieldset {
    border: 0;
}

/* admin panel */

#admin_functions {
	display: flex;
	font-size: medium;
}

#mt-choice-box-admin {
	width: 330px;
	text-align: center;
}

#mt-add-box-admin {
	width: 300px;
	text-align: center;
}

#date_and_submit {
	text-align: center;
}

#datepicker {
	flex: 1;
}

#mt-choice-box-admin, #mt-add-box-admin,
#question-box-admin, #thanks-box-admin, #ad-upload-box-admin {
	border: 3px solid rgba(197, 157, 95, 0.4);
}

.mt_list_admin {
	border: 1px solid;
	background: #FFFFFF;
	padding: 2%;
	width: 300px;
	font-size: large;
}

#ad-upload-content {
	text-align: center;
}

#question-box-admin, #thanks-box-admin {
	margin-right: 5px;
	width: 400px;
}

/* Charts */

#vote_charts canvas {
	margin-top: 2%;
}

/* Footer */
#footer {
	clear: left;
	color: #CCCCCC;
	text-align: center;
	padding-top: 2%;
}

hr {
	border-top: 1px #EEEEEE;
}
